openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Autotask Version API Integration API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: AutotaskVersionApiIntegration
paths:
  /V1.0/Version:
    get:
      tags:
      - AutotaskVersionApiIntegration
      operationId: AutotaskVersionApiIntegration_QueryVersionInformation
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutotaskVersionResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AutotaskVersionResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    AutotaskVersionResultModel:
      type: object
      properties:
        majorVersion:
          type: string
          readOnly: true
        minorVersion:
          type: string
          readOnly: true
        build:
          type: string
          readOnly: true
        customerType:
          type: string
          readOnly: true
