openapi: 3.2.0
info:
  title: BMS API 2.0 Qbd Account Codes API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: QbdAccountCodes
paths:
  /v2/integration/qbd/accountcodes:
    get:
      tags:
      - QbdAccountCodes
      operationId: GetAccountCodes
      parameters:
      - name: Filter.AccountName
        in: query
        schema:
          type: string
      - name: Filter.AccountTypeName
        in: query
        schema:
          type: string
      - name: ExternalTenantId
        in: query
        required: true
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QbAccountCodeExportDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QbAccountCodeExportDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QbAccountCodeExportDtoListPagedResponse'
    post:
      tags:
      - QbdAccountCodes
      operationId: ImportAccountCodes
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbAccountCodeImportDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbAccountCodeImportDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbAccountCodeImportDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbAccountCodeImportDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
  /v2/integration/qbd/accountcodes/byids:
    get:
      tags:
      - QbdAccountCodes
      operationId: GetAccountCodesByIds
      parameters:
      - name: ExternalTenantId
        in: query
        required: true
        schema:
          type: string
      - name: AccountCodeNumbers
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QbAccountCodeExportDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QbAccountCodeExportDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QbAccountCodeExportDtoListResponse'
components:
  schemas:
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    QbAccountCodeExportDtoListPagedResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QbAccountCodeExportDto'
        TotalRecords:
          type: integer
          format: int32
      additionalProperties: false
    QbAccountCodeExportDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        Description:
          type:
          - string
          - 'null'
        TypeName:
          type:
          - string
          - 'null'
        ParentId:
          type:
          - integer
          - 'null'
          format: int32
        ExternalAccountCodeId:
          type:
          - string
          - 'null'
        ExternalParentId:
          type:
          - string
          - 'null'
      additionalProperties: false
    QbAccountCodeImportDto:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        AccountTypeName:
          type:
          - string
          - 'null'
        ParentAccountCode:
          $ref: '#/components/schemas/QbAccountCodeImportDto'
        ExternalTenantId:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - string
          - 'null'
      additionalProperties: false
    QbAccountCodeExportDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QbAccountCodeExportDto'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
