openapi: 3.2.0
info:
  title: Kaseya Tickets API
  version: '1.0'
  description: 'Operations tagged Tickets across 2 of this provider''s published API definitions: kaseya-autotask-psa-openapi-original.json, kaseya-bms-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://webservices2.autotask.net/ATServicesRest
- url: https://api.bms.kaseya.com
tags:
- name: Tickets
paths:
  /V1.0/Tickets/query:
    get:
      tags:
      - Tickets
      operationId: Tickets_UrlParameterQuery
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketModel_Ticket'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketModel_Ticket'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - Tickets
      operationId: Tickets_Query
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketModel_Ticket'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketModel_Ticket'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /V1.0/Tickets/{id}:
    get:
      tags:
      - Tickets
      operationId: Tickets_QueryItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_TicketModel_Ticket'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_TicketModel_Ticket'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /V1.0/Tickets/query/count:
    get:
      tags:
      - Tickets
      operationId: Tickets_UrlParameterQueryCount
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - Tickets
      operationId: Tickets_QueryCount
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /V1.0/Tickets:
    put:
      tags:
      - Tickets
      operationId: Tickets_UpdateEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketModel'
        required: true
    post:
      tags:
      - Tickets
      operationId: Tickets_CreateEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketModel'
        required: true
    patch:
      tags:
      - Tickets
      operationId: Tickets_PatchEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketModel'
        required: true
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /V1.0/Tickets/entityInformation:
    get:
      tags:
      - Tickets
      operationId: Tickets_QueryEntityInformation
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /V1.0/Tickets/entityInformation/fields:
    get:
      tags:
      - Tickets
      operationId: Tickets_QueryFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /V1.0/Tickets/entityInformation/userDefinedFields:
    get:
      tags:
      - Tickets
      operationId: Tickets_QueryUserDefinedFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    servers:
    - url: https://webservices2.autotask.net/ATServicesRest
  /v2/servicedesk/tickets/{ticketId}/notes:
    get:
      tags:
      - Tickets
      operationId: GetTicketNotes
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Tickets
      operationId: PostTicketNote
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketNotePostInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketNotePostInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketNotePostInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketNotePostInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/notes/{noteId}:
    get:
      tags:
      - Tickets
      operationId: GetTicketNote
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutTicketNote
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketNotePutInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketNotePutInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketNotePutInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketNotePutInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketNote
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: noteId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/assignticket:
    post:
      tags:
      - Tickets
      operationId: AssignTicket
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AssignTicketInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/AssignTicketInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/AssignTicketInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AssignTicketInputDto'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/resolve:
    post:
      tags:
      - Tickets
      operationId: ResolveTicket
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ResolveTicketDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveTicketDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ResolveTicketDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ResolveTicketDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/timelogs:
    get:
      tags:
      - Tickets
      operationId: GetTicketTimeEntries
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Tickets
      operationId: PostTicketTimeEntry
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/timelogs/{timeEntryId}:
    get:
      tags:
      - Tickets
      operationId: GetTicketTimeEntry
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: timeEntryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutTicketTimeEntry
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: timeEntryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketTimeEntryInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketTimeEntryOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketTimeEntry
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: timeEntryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets:
    get:
      tags:
      - Tickets
      operationId: GetTickets
      parameters:
      - name: Filter.IsScheduled
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.IsRecurringTickets
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.Title
        in: query
        schema:
          type: string
      - name: Filter.Account
        in: query
        schema:
          type: string
      - name: Filter.LocationName
        in: query
        schema:
          type: string
      - name: Filter.AccountCode
        in: query
        schema:
          type: string
      - name: Filter.AssigneeName
        in: query
        schema:
          type: string
      - name: Filter.TicketNumber
        in: query
        schema:
          type: string
      - name: Filter.CreatedByName
        in: query
        schema:
          type: string
      - name: Filter.Details
        in: query
        schema:
          type: string
      - name: Filter.ContactName
        in: query
        schema:
          type: string
      - name: Filter.StatusNames
        in: query
        schema:
          type: string
      - name: Filter.QueueNames
        in: query
        schema:
          type: string
      - name: Filter.PriorityNames
        in: query
        schema:
          type: string
      - name: Filter.TicketTypeNames
        in: query
        schema:
          type: string
      - name: Filter.IssueTypeNames
        in: query
        schema:
          type: string
      - name: Filter.ServiceLevelAgreementNames
        in: query
        schema:
          type: string
      - name: Filter.SubIssueTypeNames
        in: query
        schema:
          type: string
      - name: Filter.SourceIds
        in: query
        schema:
          type: string
      - name: Filter.ExcludeCompleted
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.OpenDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.OpenDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.CompletedDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.CompletedDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastActivityUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastActivityUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.CreatedOnFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.CreatedOnTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastStatusUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastStatusUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastPriorityUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastPriorityUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastQueueUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.LastQueueUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.DueDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.DueDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.ResolutionTargetTimeFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.ResolutionTargetTimeTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.ContactId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.HardwareAssetId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.AccountLocationId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.AccountIds
        in: query
        schema:
          type: string
      - name: Filter.SLAEventStatusIds
        in: query
        schema:
          type: string
      - name: Filter.FromDate
        in: query
        schema:
          type: string
      - name: Filter.ToDate
        in: query
        schema:
          type: string
      - name: Filter.Value
        in: query
        schema:
          type: string
      - name: Filter.ActionType
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.HardwareAssetName
        in: query
        schema:
          type: string
      - name: Filter.OwnerIds
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketListDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketListDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketListDtoListPagedResponse'
      deprecated: true
      security:
      - bearerAuth: []
    post:
      tags:
      - Tickets
      operationId: PostTicket
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTickets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Tickets
      operationId: PatchTickets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/BatchTicketsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTicketsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/BatchTicketsDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BatchTicketsDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/search:
    post:
      tags:
      - Tickets
      operationId: SearchTickets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/GetTicketsInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/GetTicketsInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/GetTicketsInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/GetTicketsInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketListDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketListDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketListDtoListPagedResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}:
    get:
      tags:
      - Tickets
      operationId: GetTicket
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutTicket
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
      security:
      - bearerAuth: []
    patch:
      tags:
      - Tickets
      operationId: PatchTicket
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Operation'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicket
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/summary:
    get:
      tags:
      - Tickets
      operationId: GetTicketsListSummary
      parameters:
      - name: Filter.AccountId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.ContactId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.SLAEventStatusIds
        in: query
        schema:
          type: string
      - name: Filter.ExcludedIds
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketsListSummaryOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketsListSummaryOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketsListSummaryOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/searchselect:
    get:
      tags:
      - Tickets
      operationId: GetTicketsListSearchSelect
      parameters:
      - name: Filter.Title
        in: query
        schema:
          type: string
      - name: Filter.TicketNumber
        in: query
        schema:
          type: string
      - name: Filter.OpenDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.OpenDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.AssigneeName
        in: query
        schema:
          type: string
      - name: Filter.QueueName
        in: query
        schema:
          type: string
      - name: Filter.StatusName
        in: query
        schema:
          type: string
      - name: Filter.AccountId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.ExcludedId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.ExcludeCompleted
        in: query
        schema:
          type: boolean
      - name: Filter.SupportsQueueAccess
        in: query
        schema:
          type: boolean
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketsListSearchSelectOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketsListSearchSelectOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketsListSearchSelectOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/count:
    get:
      tags:
      - Tickets
      operationId: GetTicketsCount
      parameters:
      - name: IsScheduled
        in: query
        schema:
          type: integer
          format: int32
      - name: IsRecurringTickets
        in: query
        schema:
          type: integer
          format: int32
      - name: Title
        in: query
        schema:
          type: string
      - name: Account
        in: query
        schema:
          type: string
      - name: LocationName
        in: query
        schema:
          type: string
      - name: AccountCode
        in: query
        schema:
          type: string
      - name: AssigneeName
        in: query
        schema:
          type: string
      - name: TicketNumber
        in: query
        schema:
          type: string
      - name: CreatedByName
        in: query
        schema:
          type: string
      - name: Details
        in: query
        schema:
          type: string
      - name: ContactName
        in: query
        schema:
          type: string
      - name: StatusNames
        in: query
        schema:
          type: string
      - name: QueueNames
        in: query
        schema:
          type: string
      - name: PriorityNames
        in: query
        schema:
          type: string
      - name: TicketTypeNames
        in: query
        schema:
          type: string
      - name: IssueTypeNames
        in: query
        schema:
          type: string
      - name: ServiceLevelAgreementNames
        in: query
        schema:
          type: string
      - name: SubIssueTypeNames
        in: query
        schema:
          type: string
      - name: SourceIds
        in: query
        schema:
          type: string
      - name: ExcludeCompleted
        in: query
        schema:
          type: integer
          format: int32
      - name: OpenDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: OpenDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: CompletedDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: CompletedDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: LastActivityUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: LastActivityUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: CreatedOnFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: CreatedOnTo
        in: query
        schema:
          type: string
          format: date-time
      - name: LastStatusUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: LastStatusUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: LastPriorityUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: LastPriorityUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: LastQueueUpdateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: LastQueueUpdateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: DueDateTo
        in: query
        schema:
          type: string
          format: date-time
      - name: ResolutionTargetTimeFrom
        in: query
        schema:
          type: string
          format: date-time
      - name: ResolutionTargetTimeTo
        in: query
        schema:
          type: string
          format: date-time
      - name: ContactId
        in: query
        schema:
          type: integer
          format: int32
      - name: HardwareAssetId
        in: query
        schema:
          type: integer
          format: int32
      - name: AccountLocationId
        in: query
        schema:
          type: integer
          format: int32
      - name: AccountIds
        in: query
        schema:
          type: string
      - name: SLAEventStatusIds
        in: query
        schema:
          type: string
      - name: FromDate
        in: query
        schema:
          type: string
      - name: ToDate
        in: query
        schema:
          type: string
      - name: Value
        in: query
        schema:
          type: string
      - name: ActionType
        in: query
        schema:
          type: integer
          format: int32
      - name: HardwareAssetName
        in: query
        schema:
          type: string
      - name: OwnerIds
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketCountOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketCountOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketCountOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/servicecallstodos:
    get:
      tags:
      - Tickets
      operationId: GetTicketServiceCallsToDos
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Filter.ItemTypeIds
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketServiceCallToDoOutputDtoIEnumerablePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketServiceCallToDoOutputDtoIEnumerablePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketServiceCallToDoOutputDtoIEnumerablePagedResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteServiceCallsAndToDos
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ServiceCallToDoDeleteInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCallToDoDeleteInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceCallToDoDeleteInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ServiceCallToDoDeleteInputDto'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/servicecalls:
    get:
      tags:
      - Tickets
      operationId: GetServiceCalls
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoListPagedResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Tickets
      operationId: PostServiceCall
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ServiceCallPostInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCallPostInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceCallPostInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ServiceCallPostInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoListResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/servicecalls/{serviceCallId}:
    get:
      tags:
      - Tickets
      operationId: GetServiceCall
      parameters:
      - name: serviceCallId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutServiceCall
      parameters:
      - name: serviceCallId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ServiceCallPutInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceCallPutInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceCallPutInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ServiceCallPutInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceCallOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteServiceCall
      parameters:
      - name: serviceCallId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/todos/{toDoId}:
    get:
      tags:
      - Tickets
      operationId: GetToDo
      parameters:
      - name: toDoId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutToDo
      parameters:
      - name: toDoId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ToDoPutInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ToDoPutInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ToDoPutInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ToDoPutInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteToDo
      parameters:
      - name: toDoId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/todos:
    post:
      tags:
      - Tickets
      operationId: PostToDo
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ToDoPostInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ToDoPostInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ToDoPostInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ToDoPostInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ToDoOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/activities:
    get:
      tags:
      - Tickets
      operationId: GetTicketActivities
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Filter.ActivityType
        in: query
        schema:
          type: string
      - name: Filter.OnlyInternal
        in: query
        schema:
          type: boolean
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketActivityOutputDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketActivityOutputDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketActivityOutputDtoListPagedResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/expensesandcharges:
    get:
      tags:
      - Tickets
      operationId: GetTicketExpensesCharges
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Filter.LogTypeIds
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketExpenseChargeOutputDtoIEnumerablePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseChargeOutputDtoIEnumerablePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseChargeOutputDtoIEnumerablePagedResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/expenses/{expenseId}:
    get:
      tags:
      - Tickets
      operationId: GetTicketExpense
      parameters:
      - name: expenseId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutTicketExpense
      parameters:
      - name: expenseId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketExpensePutInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketExpensePutInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketExpensePutInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketExpensePutInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketExpense
      parameters:
      - name: expenseId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/expenses:
    post:
      tags:
      - Tickets
      operationId: PostTicketExpense
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketExpensePostInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketExpensePostInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketExpensePostInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketExpensePostInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketExpenseOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges/{chargeId}:
    get:
      tags:
      - Tickets
      operationId: GetTicketCharge
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoResponse'
      security:
      - bearerAuth: []
    put:
      tags:
      - Tickets
      operationId: PutTicketCharge
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProductChargePutInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChargePutInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProductChargePutInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProductChargePutInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketCharge
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges/{chargeId}/productsummary:
    get:
      tags:
      - Tickets
      operationId: GetTicketChargeProductSummary
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProductSummaryOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductSummaryOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductSummaryOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges/{chargeId}/assets:
    get:
      tags:
      - Tickets
      operationId: GetTicketProductChargeAssetsByChargeId
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProductChargeAssetOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChargeAssetOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductChargeAssetOutputDtoListResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges/{chargeId}/history:
    get:
      tags:
      - Tickets
      operationId: GetProductChargeDeliveryHistoryByChargeId
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProductChargeHistoryOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChargeHistoryOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductChargeHistoryOutputDtoListResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges:
    post:
      tags:
      - Tickets
      operationId: PostTicketCharge
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ProductChargePostInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/ProductChargePostInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/ProductChargePostInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ProductChargePostInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ProductChargeOutputDtoListResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges/{chargeId}/purchaseorder:
    post:
      tags:
      - Tickets
      operationId: PostPO
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/POInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/POInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/POInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/POInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/POOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/POOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/POOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/charges/{chargeId}/deliver:
    post:
      tags:
      - Tickets
      operationId: PostProductDeliver
      parameters:
      - name: chargeId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DeliverChargeInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/DeliverChargeInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/DeliverChargeInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DeliverChargeInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/DeliverChargeOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/DeliverChargeOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/DeliverChargeOutputDtoListResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/surveyhistory:
    get:
      tags:
      - Tickets
      operationId: GetTicketSurveyScores
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketSurveyScoreOutputDtoIEnumerablePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSurveyScoreOutputDtoIEnumerablePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketSurveyScoreOutputDtoIEnumerablePagedResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/ticketCcs/{accountId}:
    get:
      tags:
      - Tickets
      operationId: GetCcs
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Filter.SearchString
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CCOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CCOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CCOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/merge:
    post:
      tags:
      - Tickets
      operationId: MergeTickets
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketMergeInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketMergeInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketMergeInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketMergeInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketMergeOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketMergeOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketMergeOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/relatedTickets:
    get:
      tags:
      - Tickets
      operationId: GetRelatedTickets
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RelatedTicketListOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedTicketListOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RelatedTicketListOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Tickets
      operationId: AddRelatedTickets
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsInputDto'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/relatedTickets/count:
    get:
      tags:
      - Tickets
      operationId: GetRelatedTicketsCount
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountOutpuDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CountOutpuDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CountOutpuDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/relatedTickets:
    delete:
      tags:
      - Tickets
      operationId: DeleteRelatedTicket
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsDeleteInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsDeleteInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsDeleteInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RelatedTicketsDeleteInputDto'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/relatedalerts:
    get:
      tags:
      - Tickets
      operationId: GetRelatedAlerts
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/RelatedAlertListOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/RelatedAlertListOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/RelatedAlertListOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/relatedtasks:
    get:
      tags:
      - Tickets
      operationId: GetTicketTasks
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketTaskListOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTaskListOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketTaskListOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    post:
      tags:
      - Tickets
      operationId: AddTicketTasks
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketTaskInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTaskInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketTaskInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketTaskInputDto'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/tickettabsindicators/count:
    get:
      tags:
      - Tickets
      operationId: GetTicketTabsIndicators
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketTabsIndicatorsOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTabsIndicatorsOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketTabsIndicatorsOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/relatedtasks:
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketTasks
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketTaskDeleteInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTaskDeleteInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketTaskDeleteInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketTaskDeleteInputDto'
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/relatedtasks/count:
    get:
      tags:
      - Tickets
      operationId: GetTicketTasksCount
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CountOutpuDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CountOutpuDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CountOutpuDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/logs/{jobId}:
    get:
      tags:
      - Tickets
      operationId: GetBatchActionLogs
      parameters:
      - name: jobId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/JobLogsDtoIEnumerablePagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/JobLogsDtoIEnumerablePagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/JobLogsDtoIEnumerablePagedResponse'
      deprecated: true
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/auditlogs:
    get:
      tags:
      - Tickets
      operationId: GetTicketLogs
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketLogsOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketLogsOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketLogsOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/workflowlogs:
    get:
      tags:
      - Tickets
      operationId: GetWorkflowLogs
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ModuleId
        in: query
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/WorkflowLogOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowLogOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/WorkflowLogOutputDtoIEnumerableResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/agentProcedureAudit:
    get:
      tags:
      - Tickets
      operationId: GetAgentProcedureAudits
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/AgentProcedureAuditsOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProcedureAuditsOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AgentProcedureAuditsOutputDtoListResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/slainfo:
    get:
      tags:
      - Tickets
      operationId: GetTicketSLAInfo
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketSLAInfoOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketSLAInfoOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketSLAInfoOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/checklistitems:
    post:
      tags:
      - Tickets
      operationId: PostTicketChecklistItem
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPostInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPostInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPostInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPostInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketChecklistItems
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    get:
      tags:
      - Tickets
      operationId: GetTicketChecklistItemsByTicketId
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/checklistitems/{itemId}:
    put:
      tags:
      - Tickets
      operationId: PutTicketChecklistItem
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: itemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPutInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPutInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPutInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TicketChecklistItemPutInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketChecklistItemOutputDtoResponse'
      security:
      - bearerAuth: []
    delete:
      tags:
      - Tickets
      operationId: DeleteTicketChecklistItem
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: itemId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
      security:
      - bearerAuth: []
    servers:
    - url: https://api.bms.kaseya.com
  /v2/servicedesk/tickets/{ticketId}/checklistitems/{checklistId}:
    post:
      tags:
      - Tickets
      operationId: PostChecklistTasks
      parameters:
      - name: ticketId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: checklistId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ChecklistTaskOutputDtoListResponse'
            application/json:
[...]
