openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Internal Location With Business Hours API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: InternalLocationWithBusinessHours
paths:
  /V1.0/InternalLocationWithBusinessHours/query:
    get:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_UrlParameterQuery
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_InternalLocationWithBusinessHoursModel_BusinessLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_InternalLocationWithBusinessHoursModel_BusinessLocation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_Query
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_InternalLocationWithBusinessHoursModel_BusinessLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_InternalLocationWithBusinessHoursModel_BusinessLocation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
  /V1.0/InternalLocationWithBusinessHours/{id}:
    get:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_QueryItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_InternalLocationWithBusinessHoursModel_BusinessLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_InternalLocationWithBusinessHoursModel_BusinessLocation'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/InternalLocationWithBusinessHours/query/count:
    get:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_UrlParameterQueryCount
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_QueryCount
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
  /V1.0/InternalLocationWithBusinessHours:
    put:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_UpdateEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalLocationWithBusinessHoursModel'
        required: true
    post:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_CreateEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalLocationWithBusinessHoursModel'
        required: true
    patch:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_PatchEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InternalLocationWithBusinessHoursModel'
        required: true
  /V1.0/InternalLocationWithBusinessHours/entityInformation:
    get:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_QueryEntityInformation
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/InternalLocationWithBusinessHours/entityInformation/fields:
    get:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_QueryFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/InternalLocationWithBusinessHours/entityInformation/userDefinedFields:
    get:
      tags:
      - InternalLocationWithBusinessHours
      operationId: InternalLocationWithBusinessHours_QueryUserDefinedFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    InternalLocationWithBusinessHoursModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        additionalAddressInfo:
          type: string
        address1:
          type: string
        address2:
          type: string
        city:
          type: string
        countryID:
          format: int32
          type: integer
        dateFormat:
          type: string
        firstDayOfWeek:
          format: int32
          type: integer
        fridayBusinessHoursEndTime:
          format: date-time
          type: string
        fridayBusinessHoursStartTime:
          format: date-time
          type: string
        fridayExtendedHoursEndTime:
          format: date-time
          type: string
        fridayExtendedHoursStartTime:
          format: date-time
          type: string
        holidayExtendedHoursEndTime:
          format: date-time
          type: string
        holidayExtendedHoursStartTime:
          format: date-time
          type: string
        holidayHoursEndTime:
          format: date-time
          type: string
        holidayHoursStartTime:
          format: date-time
          type: string
        holidayHoursType:
          format: int32
          type: integer
        holidaySetID:
          format: int32
          type: integer
        isDefault:
          type: boolean
        mondayBusinessHoursEndTime:
          format: date-time
          type: string
        mondayBusinessHoursStartTime:
          format: date-time
          type: string
        mondayExtendedHoursEndTime:
          format: date-time
          type: string
        mondayExtendedHoursStartTime:
          format: date-time
          type: string
        name:
          type: string
        noHoursOnHolidays:
          type: boolean
        numberFormat:
          type: string
        postalCode:
          type: string
        saturdayBusinessHoursEndTime:
          format: date-time
          type: string
        saturdayBusinessHoursStartTime:
          format: date-time
          type: string
        saturdayExtendedHoursEndTime:
          format: date-time
          type: string
        saturdayExtendedHoursStartTime:
          format: date-time
          type: string
        state:
          type: string
        sundayBusinessHoursEndTime:
          format: date-time
          type: string
        sundayBusinessHoursStartTime:
          format: date-time
          type: string
        sundayExtendedHoursEndTime:
          format: date-time
          type: string
        sundayExtendedHoursStartTime:
          format: date-time
          type: string
        thursdayBusinessHoursEndTime:
          format: date-time
          type: string
        thursdayBusinessHoursStartTime:
          format: date-time
          type: string
        thursdayExtendedHoursEndTime:
          format: date-time
          type: string
        thursdayExtendedHoursStartTime:
          format: date-time
          type: string
        timeFormat:
          type: string
        timeZoneID:
          format: int32
          type: integer
        tuesdayBusinessHoursEndTime:
          format: date-time
          type: string
        tuesdayBusinessHoursStartTime:
          format: date-time
          type: string
        tuesdayExtendedHoursEndTime:
          format: date-time
          type: string
        tuesdayExtendedHoursStartTime:
          format: date-time
          type: string
        wednesdayBusinessHoursEndTime:
          format: date-time
          type: string
        wednesdayBusinessHoursStartTime:
          format: date-time
          type: string
        wednesdayExtendedHoursEndTime:
          format: date-time
          type: string
        wednesdayExtendedHoursStartTime:
          format: date-time
          type: string
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    QueryCountResultModel:
      type: object
      properties:
        queryCount:
          format: int32
          type: integer
    QueryActionResult_InternalLocationWithBusinessHoursModel_BusinessLocation:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InternalLocationWithBusinessHoursModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    QueryModel:
      type: object
      properties:
        maxRecords:
          format: int32
          type: integer
        includeFields:
          type: array
          items:
            type: string
        filter:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
      example:
        MaxRecords: 10
        IncludeFields: []
        Filter:
        - op: gt
          field: id
          value: 0
          udf: false
          items: []
    ItemQueryResultModel_InternalLocationWithBusinessHoursModel_BusinessLocation:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/InternalLocationWithBusinessHoursModel'
    Object:
      type: object
      properties: {}
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    Filter:
      type: object
      properties:
        op:
          type: string
        field:
          type: string
        udf:
          type: boolean
        value:
          description: 'Can be either an Integer, String, Boolean, an Array of Integers, or an Array of Strings. '
          type: object
          properties: {}
        items:
          description: An Array of Filter objects
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    OperationResultModel:
      type: object
      properties:
        itemId:
          $ref: '#/components/schemas/Object'
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
