openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Authenticate API Integration API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: AuthenticateApiIntegration
paths:
  /V1.0/Authenticate:
    get:
      tags:
      - AuthenticateApiIntegration
      operationId: AuthenticateApiIntegration_QueryAuthenticate
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    AuthTokenResultModel:
      type: object
      properties:
        authToken:
          type: string
          readOnly: true
        expiration:
          format: date-time
          type: string
          readOnly: true
