openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Ticket Note Attachments Child API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: TicketNoteAttachmentsChild
paths:
  /V1.0/TicketNotes/{parentId}/Attachments:
    get:
      tags:
      - TicketNoteAttachmentsChild
      operationId: TicketNoteAttachmentsChild_Query
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteAttachmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteAttachmentModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - TicketNoteAttachmentsChild
      operationId: TicketNoteAttachmentsChild_CreateEntity
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketNoteAttachmentModel'
        required: true
  /V1.0/TicketNotes/{parentId}/Attachments/{id}:
    get:
      tags:
      - TicketNoteAttachmentsChild
      operationId: TicketNoteAttachmentsChild_QueryItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteAttachmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteAttachmentModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
      - TicketNoteAttachmentsChild
      operationId: TicketNoteAttachmentsChild_DeleteEntity
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketNoteAttachmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketNoteAttachmentModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ParameterExpression:
      type: object
      properties:
        type:
          type: string
          readOnly: true
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        isByRef:
          type: boolean
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    Expression:
      type: object
      properties:
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    Object:
      type: object
      properties: {}
    Expression_Func_AttachmentInfo_Int64:
      type: object
      properties:
        type:
          type: string
          readOnly: true
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ParameterExpression'
          readOnly: true
        name:
          type: string
          readOnly: true
        body:
          $ref: '#/components/schemas/Expression'
          readOnly: true
        returnType:
          type: string
          readOnly: true
        tailCall:
          type: boolean
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    OperationResultModel:
      type: object
      properties:
        itemId:
          $ref: '#/components/schemas/Object'
    TicketNoteAttachmentModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        attachDate:
          format: date-time
          type: string
        attachedByContactID:
          format: int64
          type: integer
        attachedByResourceID:
          format: int64
          type: integer
        attachmentType:
          type: string
        contentType:
          type: string
        creatorType:
          format: int32
          type: integer
        fileSize:
          format: double
          type: number
        fullPath:
          type: string
        impersonatorCreatorResourceID:
          format: int32
          type: integer
        opportunityID:
          format: int64
          type: integer
        parentID:
          format: int64
          type: integer
        publish:
          format: int32
          type: integer
        ticketID:
          format: int32
          type: integer
        ticketNoteID:
          format: int32
          type: integer
        title:
          type: string
        data:
          format: byte
          type: string
        parentType:
          format: int32
          type: integer
          readOnly: true
        soapParentPropertyId:
          $ref: '#/components/schemas/Expression_Func_AttachmentInfo_Int64'
          readOnly: true
        isTaskAttachment:
          type: boolean
          readOnly: true
