openapi: 3.2.0
info:
  title: BMS API 2.0 Software Assets API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: SoftwareAssets
paths:
  /v2/servicedesk/softwareAssets/searchselect:
    get:
      tags:
      - SoftwareAssets
      operationId: GetSoftwareAssetsListSearchSelect
      parameters:
      - name: Filter.CategoryIds
        in: query
        schema:
          type: string
      - name: Filter.SoftwareName
        in: query
        schema:
          type: string
      - name: Filter.AccountId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.ContactId
        in: query
        schema:
          type: integer
          format: int32
      - name: Filter.ContactName
        in: query
        schema:
          type: string
      - name: Filter.ExcludedId
        in: query
        schema:
          type: integer
          format: int32
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SoftwareAssetsListSearchSelectOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SoftwareAssetsListSearchSelectOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SoftwareAssetsListSearchSelectOutputDtoIEnumerableResponse'
components:
  schemas:
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    SoftwareAssetsListSearchSelectOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        SoftwareName:
          type:
          - string
          - 'null'
        CategoryName:
          type:
          - string
          - 'null'
        CategoryId:
          type: integer
          format: int32
        Version:
          type:
          - string
          - 'null'
        ModelNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    SoftwareAssetsListSearchSelectOutputDtoIEnumerableResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SoftwareAssetsListSearchSelectOutputDto'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
