openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Services API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: Services
paths:
  /V1.0/Services/query:
    get:
      tags:
      - Services
      operationId: Services_UrlParameterQuery
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ServiceModel_Service'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ServiceModel_Service'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Services url parameter query
      x-summary-source: derived
    post:
      tags:
      - Services
      operationId: Services_Query
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ServiceModel_Service'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ServiceModel_Service'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
      summary: Services query
      x-summary-source: derived
  /V1.0/Services/{id}:
    get:
      tags:
      - Services
      operationId: Services_QueryItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ServiceModel_Service'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ServiceModel_Service'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Services query item
      x-summary-source: derived
  /V1.0/Services/query/count:
    get:
      tags:
      - Services
      operationId: Services_UrlParameterQueryCount
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Services url parameter query count
      x-summary-source: derived
    post:
      tags:
      - Services
      operationId: Services_QueryCount
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
      summary: Services query count
      x-summary-source: derived
  /V1.0/Services:
    put:
      tags:
      - Services
      operationId: Services_UpdateEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceModel'
        required: true
      summary: Services update entity
      x-summary-source: derived
    post:
      tags:
      - Services
      operationId: Services_CreateEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceModel'
        required: true
      summary: Services create entity
      x-summary-source: derived
    patch:
      tags:
      - Services
      operationId: Services_PatchEntity
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceModel'
        required: true
      summary: Services patch entity
      x-summary-source: derived
  /V1.0/Services/entityInformation:
    get:
      tags:
      - Services
      operationId: Services_QueryEntityInformation
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Services query entity information
      x-summary-source: derived
  /V1.0/Services/entityInformation/fields:
    get:
      tags:
      - Services
      operationId: Services_QueryFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Services query field definitions
      x-summary-source: derived
  /V1.0/Services/entityInformation/userDefinedFields:
    get:
      tags:
      - Services
      operationId: Services_QueryUserDefinedFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      summary: Services query user defined field definitions
      x-summary-source: derived
components:
  schemas:
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
    UserDefinedField:
      type: object
      properties:
        name:
          type: string
        value:
          type: string
    ServiceModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        billingCodeID:
          format: int32
          type: integer
        createDate:
          format: date-time
          type: string
        creatorResourceID:
          format: int32
          type: integer
        description:
          type: string
        invoiceDescription:
          type: string
        isActive:
          type: boolean
        lastModifiedDate:
          format: date-time
          type: string
        markupRate:
          format: double
          type: number
        name:
          type: string
        periodType:
          format: int32
          type: integer
        serviceLevelAgreementID:
          format: int64
          type: integer
        unitCost:
          format: double
          type: number
        unitPrice:
          format: double
          type: number
        updateResourceID:
          format: int32
          type: integer
        vendorCompanyID:
          format: int32
          type: integer
        manufacturerServiceProvider:
          type: string
        manufacturerServiceProviderProductNumber:
          type: string
        catalogNumberPartNumber:
          type: string
        sku:
          type: string
        internalID:
          type: string
        externalID:
          type: string
        url:
          type: string
        userDefinedFields:
          type: array
          items:
            $ref: '#/components/schemas/UserDefinedField'
    Object:
      type: object
      properties: {}
    ItemQueryResultModel_ServiceModel_Service:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ServiceModel'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    Filter:
      type: object
      properties:
        op:
          type: string
        field:
          type: string
        udf:
          type: boolean
        value:
          description: 'Can be either an Integer, String, Boolean, an Array of Integers, or an Array of Strings. '
          type: object
          properties: {}
        items:
          description: An Array of Filter objects
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    QueryCountResultModel:
      type: object
      properties:
        queryCount:
          format: int32
          type: integer
    QueryModel:
      type: object
      properties:
        maxRecords:
          format: int32
          type: integer
        includeFields:
          type: array
          items:
            type: string
        filter:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
      example:
        MaxRecords: 10
        IncludeFields: []
        Filter:
        - op: gt
          field: id
          value: 0
          udf: false
          items: []
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    OperationResultModel:
      type: object
      properties:
        itemId:
          $ref: '#/components/schemas/Object'
    QueryActionResult_ServiceModel_Service:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ServiceModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
