openapi: 3.2.0
info:
  title: BMS API 2.0 Email Templates API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: EmailTemplates
paths:
  /v2/system/emailtemplates/{categoryId}/lookup:
    get:
      tags:
      - EmailTemplates
      operationId: GetEmailTemplateLookups
      parameters:
      - name: categoryId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EmailTemplateLookupOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateLookupOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EmailTemplateLookupOutputDtoIEnumerableResponse'
components:
  schemas:
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    EmailTemplateLookupOutputDtoIEnumerableResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EmailTemplateLookupOutputDto'
      additionalProperties: false
    EmailTemplateLookupOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
