openapi: 3.2.0
info:
  title: BMS API 2.0 Colors Lookup API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: ColorsLookup
paths:
  /v2/system/colors/lookup:
    get:
      tags:
      - ColorsLookup
      operationId: GetColorsLookup
      parameters:
      - name: moduleId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ColorsLookupOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ColorsLookupOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ColorsLookupOutputDtoIEnumerableResponse'
components:
  schemas:
    ColorsLookupOutputDtoIEnumerableResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ColorsLookupOutputDto'
      additionalProperties: false
    ColorsLookupOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        ModuleId:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        Label:
          type:
          - string
          - 'null'
        FontColor:
          type:
          - string
          - 'null'
        BackgroundColor:
          type:
          - string
          - 'null'
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
