openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Expense Items Child API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: ExpenseItemsChild
paths:
  /V1.0/Expenses/{parentId}/Items:
    get:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_Query
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ExpenseItemModel_ExpenseItem'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ExpenseItemModel_ExpenseItem'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    put:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_UpdateEntity
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseItemModel'
        required: true
    post:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_CreateEntity
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseItemModel'
        required: true
    patch:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_PatchEntity
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpenseItemModel'
        required: true
  /V1.0/Expenses/{parentId}/Items/{id}:
    get:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_QueryItem
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ExpenseItemModel_ExpenseItem'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ExpenseItemModel_ExpenseItem'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Expenses/{parentId}/Items/entityInformation:
    get:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_QueryEntityInformation
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Expenses/{parentId}/Items/entityInformation/fields:
    get:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_QueryFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Expenses/{parentId}/Items/entityInformation/userDefinedFields:
    get:
      tags:
      - ExpenseItemsChild
      operationId: ExpenseItemsChild_QueryUserDefinedFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ParameterExpression:
      type: object
      properties:
        type:
          type: string
          readOnly: true
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        isByRef:
          type: boolean
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    QueryActionResult_ExpenseItemModel_ExpenseItem:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ExpenseItemModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    ItemQueryResultModel_ExpenseItemModel_ExpenseItem:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ExpenseItemModel'
    Expression:
      type: object
      properties:
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    Object:
      type: object
      properties: {}
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    Expression_Func_ExpenseItem_Int64:
      type: object
      properties:
        type:
          type: string
          readOnly: true
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ParameterExpression'
          readOnly: true
        name:
          type: string
          readOnly: true
        body:
          $ref: '#/components/schemas/Expression'
          readOnly: true
        returnType:
          type: string
          readOnly: true
        tailCall:
          type: boolean
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    ExpenseItemModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        companyID:
          format: int32
          type: integer
        description:
          type: string
        destination:
          type: string
        entertainmentLocation:
          type: string
        expenseCategory:
          format: int32
          type: integer
        expenseCurrencyExpenseAmount:
          format: double
          type: number
        expenseCurrencyID:
          format: int32
          type: integer
        expenseDate:
          format: date-time
          type: string
        expenseReportID:
          format: int32
          type: integer
        glCode:
          type: string
        haveReceipt:
          type: boolean
        internalCurrencyExpenseAmount:
          format: double
          type: number
        internalCurrencyReimbursementAmount:
          format: double
          type: number
        isBillableToCompany:
          type: boolean
        isReimbursable:
          type: boolean
        isRejected:
          type: boolean
        miles:
          format: double
          type: number
        odometerEnd:
          format: double
          type: number
        odometerStart:
          format: double
          type: number
        origin:
          type: string
        paymentType:
          format: int32
          type: integer
        projectID:
          format: int32
          type: integer
        purchaseOrderNumber:
          type: string
        reimbursementCurrencyReimbursementAmount:
          format: double
          type: number
        taskID:
          format: int32
          type: integer
        ticketID:
          format: int32
          type: integer
        workType:
          format: int32
          type: integer
        soapParentPropertyId:
          $ref: '#/components/schemas/Expression_Func_ExpenseItem_Int64'
          readOnly: true
    OperationResultModel:
      type: object
      properties:
        itemId:
          $ref: '#/components/schemas/Object'
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
