openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Configuration Item Dns Records Child API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: ConfigurationItemDnsRecordsChild
paths:
  /V1.0/ConfigurationItems/{parentId}/DnsRecords:
    get:
      tags:
      - ConfigurationItemDnsRecordsChild
      operationId: ConfigurationItemDnsRecordsChild_Query
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ConfigurationItemDnsRecordModel_InstalledProductDnsRecord'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ConfigurationItemDnsRecordModel_InstalledProductDnsRecord'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ConfigurationItems/{parentId}/DnsRecords/{id}:
    get:
      tags:
      - ConfigurationItemDnsRecordsChild
      operationId: ConfigurationItemDnsRecordsChild_QueryItem
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ConfigurationItemDnsRecordModel_InstalledProductDnsRecord'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ConfigurationItemDnsRecordModel_InstalledProductDnsRecord'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    delete:
      tags:
      - ConfigurationItemDnsRecordsChild
      operationId: ConfigurationItemDnsRecordsChild_DeleteEntity
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/OperationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ConfigurationItems/{parentId}/DnsRecords/entityInformation:
    get:
      tags:
      - ConfigurationItemDnsRecordsChild
      operationId: ConfigurationItemDnsRecordsChild_QueryEntityInformation
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ConfigurationItems/{parentId}/DnsRecords/entityInformation/fields:
    get:
      tags:
      - ConfigurationItemDnsRecordsChild
      operationId: ConfigurationItemDnsRecordsChild_QueryFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ConfigurationItems/{parentId}/DnsRecords/entityInformation/userDefinedFields:
    get:
      tags:
      - ConfigurationItemDnsRecordsChild
      operationId: ConfigurationItemDnsRecordsChild_QueryUserDefinedFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    ConfigurationItemDnsRecordModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        createDateTime:
          format: date-time
          type: string
        data:
          type: string
        installedProductID:
          format: int32
          type: integer
        timeToLiveSeconds:
          format: int32
          type: integer
        dnsType:
          type: string
        soapParentPropertyId:
          format: int64
          type: integer
          readOnly: true
    QueryActionResult_ConfigurationItemDnsRecordModel_InstalledProductDnsRecord:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ConfigurationItemDnsRecordModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    Object:
      type: object
      properties: {}
    ItemQueryResultModel_ConfigurationItemDnsRecordModel_InstalledProductDnsRecord:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ConfigurationItemDnsRecordModel'
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    OperationResultModel:
      type: object
      properties:
        itemId:
          $ref: '#/components/schemas/Object'
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
