openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Resource Time Off Balances Child API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: ResourceTimeOffBalancesChild
paths:
  /V1.0/Resources/{parentId}/TimeOffBalances:
    get:
      tags:
      - ResourceTimeOffBalancesChild
      operationId: ResourceTimeOffBalancesChild_Query
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ResourceTimeOffBalanceModel_ResourceTimeOffBalance'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ResourceTimeOffBalanceModel_ResourceTimeOffBalance'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Resources/{parentId}/TimeOffBalances/{year}:
    get:
      tags:
      - ResourceTimeOffBalancesChild
      operationId: ResourceTimeOffBalancesChild_QueryItem
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: year
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ResourceTimeOffBalanceModel_ResourceTimeOffBalance'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ResourceTimeOffBalanceModel_ResourceTimeOffBalance'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Resources/{parentId}/TimeOffBalances/entityInformation:
    get:
      tags:
      - ResourceTimeOffBalancesChild
      operationId: ResourceTimeOffBalancesChild_QueryEntityInformation
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Resources/{parentId}/TimeOffBalances/entityInformation/fields:
    get:
      tags:
      - ResourceTimeOffBalancesChild
      operationId: ResourceTimeOffBalancesChild_QueryFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/Resources/{parentId}/TimeOffBalances/entityInformation/userDefinedFields:
    get:
      tags:
      - ResourceTimeOffBalancesChild
      operationId: ResourceTimeOffBalancesChild_QueryUserDefinedFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    ItemQueryResultModel_ResourceTimeOffBalanceModel_ResourceTimeOffBalance:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ResourceTimeOffBalanceModel'
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    QueryActionResult_ResourceTimeOffBalanceModel_ResourceTimeOffBalance:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ResourceTimeOffBalanceModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
    Object:
      type: object
      properties: {}
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    ResourceTimeOffBalanceModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        resourceID:
          format: int32
          type: integer
        floatingHolidayAnnualAllowance:
          format: double
          type: number
        floatingHolidayBalance:
          format: double
          type: number
        floatingHolidayPlanned:
          format: double
          type: number
        floatingHolidayUsed:
          format: double
          type: number
        floatingHolidayWaitingApproval:
          format: double
          type: number
        personalTimeAnnualAllowance:
          format: double
          type: number
        personalTimeBalance:
          format: double
          type: number
        personalTimePlanned:
          format: double
          type: number
        personalTimeUsed:
          format: double
          type: number
        personalTimeWaitingApproval:
          format: double
          type: number
        sickTimeAnnualAllowance:
          format: double
          type: number
        sickTimeBalance:
          format: double
          type: number
        sickTimePlanned:
          format: double
          type: number
        sickTimeUsed:
          format: double
          type: number
        sickTimeWaitingApproval:
          format: double
          type: number
        vacationTimeAnnualAllowance:
          format: double
          type: number
        vacationTimeBalance:
          format: double
          type: number
        vacationTimePlanned:
          format: double
          type: number
        vacationTimeUsed:
          format: double
          type: number
        vacationTimeWaitingApproval:
          format: double
          type: number
        year:
          format: int32
          type: integer
        soapParentPropertyId:
          format: int64
          type: integer
          readOnly: true
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
