openapi: 3.2.0
info:
  title: BMS API 2.0 Teams Channel API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: Teams channel
paths:
  /v2/admin/teamschannel/search:
    post:
      tags:
      - Teams channel
      operationId: GetTeamsChannelsList
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsListInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsListInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsListInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsListInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelListOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelListOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelListOutputDtoListResponse'
      summary: Get teams channels list
      x-summary-source: derived
  /v2/admin/teamschannel/{id}:
    get:
      tags:
      - Teams channel
      operationId: GetTeamsChannel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
      summary: Get teams channel
      x-summary-source: derived
    put:
      tags:
      - Teams channel
      operationId: PutTeamsChannel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
      summary: Put teams channel
      x-summary-source: derived
    delete:
      tags:
      - Teams channel
      operationId: DeleteTeamsChannel
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
      summary: Delete teams channel
      x-summary-source: derived
  /v2/admin/teamschannel:
    post:
      tags:
      - Teams channel
      operationId: PostTeamsChannel
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelOutputDtoResponse'
      summary: Post teams channel
      x-summary-source: derived
    patch:
      tags:
      - Teams channel
      operationId: PatchTeamsChannel
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelBatchInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelBatchInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelBatchInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelBatchInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
      summary: Patch teams channel
      x-summary-source: derived
    delete:
      tags:
      - Teams channel
      operationId: DeleteTeamsChannels
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
          application/json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
          text/json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Int32BatchIdsDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
      summary: Delete teams channels
      x-summary-source: derived
  /v2/admin/teamschannel/lookup:
    get:
      tags:
      - Teams channel
      operationId: GetTeamsChannelLookup
      parameters:
      - name: Ids
        in: query
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: Name
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelLookupOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelLookupOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelLookupOutputDtoListResponse'
      summary: Get teams channel lookup
      x-summary-source: derived
  /v2/admin/teamschannel/status:
    post:
      tags:
      - Teams channel
      operationId: GetTeamsChannelStatus
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelStatusInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelStatusInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelStatusInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelStatusInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelStatusOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelStatusOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelStatusOutputDtoResponse'
      summary: Get teams channel status
      x-summary-source: derived
  /v2/admin/teamschannel/{teamschannelid}/logs/search:
    post:
      tags:
      - Teams channel
      operationId: GetTeamsChannelsActivityLogsList
      parameters:
      - name: teamschannelid
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsActivityLogsListInputDto'
          application/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsActivityLogsListInputDto'
          text/json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsActivityLogsListInputDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/TeamsChannelsActivityLogsListInputDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TeamsChannelsActivityLogsListOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelsActivityLogsListOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TeamsChannelsActivityLogsListOutputDtoListResponse'
      summary: Get teams channels activity logs list
      x-summary-source: derived
components:
  schemas:
    TeamsChannelsActivityLogsListOutputDto:
      type: object
      properties:
        Id:
          type: string
          format: uuid
        TeamsChannelId:
          type:
          - integer
          - 'null'
          format: int32
        IsSuccess:
          type:
          - boolean
          - 'null'
        Description:
          type:
          - string
          - 'null'
        WorkflowId:
          type:
          - integer
          - 'null'
          format: int32
        WorkflowName:
          type:
          - string
          - 'null'
        TicketId:
          type:
          - integer
          - 'null'
          format: int32
        TicketNumber:
          type:
          - string
          - 'null'
        CreatedOn:
          type:
          - string
          - 'null'
          format: date-time
        CreatedBy:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    TeamsChannelInputDto:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        FailureNotificationEmail:
          type:
          - string
          - 'null'
        WebhookUrl:
          type:
          - string
          - 'null'
        IsEnabled:
          type: boolean
      additionalProperties: false
    TeamsChannelStatusOutputDto:
      type: object
      properties:
        IsConnected:
          type: boolean
      additionalProperties: false
    TeamsChannelBatchInputDto:
      type: object
      properties:
        ModuleId:
          type:
          - integer
          - 'null'
          format: int32
        TargetedIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
        IsEnabled:
          type: boolean
      additionalProperties: false
    TeamsChannelLookupOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
      additionalProperties: false
    TeamsChannelStatusOutputDtoResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          $ref: '#/components/schemas/TeamsChannelStatusOutputDto'
      additionalProperties: false
    Int32BatchIdsDto:
      type: object
      properties:
        ModuleId:
          type:
          - integer
          - 'null'
          format: int32
        TargetedIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
      additionalProperties: false
    TeamsChannelsActivityLogsListOutputDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamsChannelsActivityLogsListOutputDto'
      additionalProperties: false
    TeamsChannelListOutputDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamsChannelListOutputDto'
      additionalProperties: false
    StringResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - string
          - 'null'
      additionalProperties: false
    TeamsChannelListOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        FailureNotificationEmail:
          type:
          - string
          - 'null'
        FailureNotificationCount:
          type:
          - string
          - 'null'
        WebhookUrl:
          type:
          - string
          - 'null'
        IsEnabled:
          type: boolean
        WorkflowsAssigned:
          type: integer
          format: int32
        Alerts:
          type: integer
          format: int32
      additionalProperties: false
    TeamsChannelsListFilter:
      type: object
      properties:
        Name:
          type:
          - string
          - 'null'
        IsEnabled:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    TeamsChannelsListInputDto:
      type: object
      properties:
        PageSize:
          type: integer
          format: int32
        PageNumber:
          type: integer
          format: int32
        StartRowIndex:
          type: integer
          format: int32
          readOnly: true
        EndRowIndex:
          type: integer
          format: int32
          readOnly: true
        Sort:
          type:
          - string
          - 'null'
        Exclude:
          type:
          - string
          - 'null'
        Filter:
          $ref: '#/components/schemas/TeamsChannelsListFilter'
      additionalProperties: false
    TeamsChannelStatusInputDto:
      type: object
      properties:
        WebhookUrl:
          type:
          - string
          - 'null'
        TeamsChannelId:
          type:
          - integer
          - 'null'
          format: int32
      additionalProperties: false
    TeamsChannelLookupOutputDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TeamsChannelLookupOutputDto'
      additionalProperties: false
    TeamsChannelOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        CreatedBy:
          type:
          - integer
          - 'null'
          format: int32
        CreatedOn:
          type:
          - string
          - 'null'
          format: date-time
        ModifiedBy:
          type:
          - integer
          - 'null'
          format: int32
        ModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        FailureNotificationEmail:
          type:
          - string
          - 'null'
        WebhookUrl:
          type:
          - string
          - 'null'
        IsEnabled:
          type: boolean
        WorkflowsAssigned:
          type: integer
          format: int32
        Alerts:
          type: integer
          format: int32
      additionalProperties: false
    TeamsChannelsActivityLogsFilterDto:
      type: object
      properties:
        IsSuccess:
          type:
          - boolean
          - 'null'
        CreatedOnFromDate:
          type:
          - string
          - 'null'
          format: date-time
        CreatedOnToDate:
          type:
          - string
          - 'null'
          format: date-time
        WorkflowName:
          type:
          - string
          - 'null'
        TicketNumber:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
      additionalProperties: false
    TeamsChannelOutputDtoResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          $ref: '#/components/schemas/TeamsChannelOutputDto'
      additionalProperties: false
    TeamsChannelsActivityLogsListInputDto:
      type: object
      properties:
        PageSize:
          type: integer
          format: int32
        PageNumber:
          type: integer
          format: int32
        StartRowIndex:
          type: integer
          format: int32
          readOnly: true
        EndRowIndex:
          type: integer
          format: int32
          readOnly: true
        Sort:
          type:
          - string
          - 'null'
        Exclude:
          type:
          - string
          - 'null'
        Filter:
          $ref: '#/components/schemas/TeamsChannelsActivityLogsFilterDto'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
