openapi: 3.2.0
info:
  title: BMS API 2.0 Qbd Services API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: QbdServices
paths:
  /v2/integration/qbd/services:
    post:
      tags:
      - QbdServices
      operationId: ImportServices
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbItemImportDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbItemImportDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbItemImportDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbItemImportDto'
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StringResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/StringResponse'
    get:
      tags:
      - QbdServices
      operationId: GetServices
      parameters:
      - name: Filter.ItemName
        in: query
        schema:
          type: string
      - name: ExternalTenantId
        in: query
        required: true
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QbServiceExportDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QbServiceExportDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QbServiceExportDtoListPagedResponse'
  /v2/integration/qbd/services/byids:
    get:
      tags:
      - QbdServices
      operationId: GetServicesByIds
      parameters:
      - name: ExternalTenantId
        in: query
        required: true
        schema:
          type: string
      - name: ItemNumbers
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QbServiceExportDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QbServiceExportDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QbServiceExportDtoListResponse'
components:
  schemas:
    QbItemImportDto:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Number:
          type:
          - string
          - 'null'
        InStockQty:
          type:
          - number
          - 'null'
          format: double
        IsStockedItem:
          type: boolean
        Sku:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        ExternalTenantId:
          type:
          - string
          - 'null'
        IsTaxable:
          type: boolean
        IsActive:
          type: boolean
        DiscountIsPercent:
          type: boolean
        UnitPrice:
          type: number
          format: double
        PurchaseCost:
          type: number
          format: double
        IncomeAccount:
          $ref: '#/components/schemas/QbAccountCodeImportDto'
        ExpenseAccount:
          $ref: '#/components/schemas/QbAccountCodeImportDto'
        AssetAccount:
          $ref: '#/components/schemas/QbAccountCodeImportDto'
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    QbServiceExportDtoListPagedResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QbServiceExportDto'
        TotalRecords:
          type: integer
          format: int32
      additionalProperties: false
    QbServiceExportDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        ItemCode:
          type:
          - string
          - 'null'
        UnitPrice:
          type:
          - number
          - 'null'
          format: double
        UnitCost:
          type:
          - number
          - 'null'
          format: double
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        IsActive:
          type:
          - boolean
          - 'null'
        IncomeAccountId:
          type:
          - integer
          - 'null'
          format: int32
        ExpenseAccountId:
          type:
          - integer
          - 'null'
          format: int32
        IsTaxable:
          type: boolean
        ExternalItemId:
          type:
          - string
          - 'null'
        ExternalIncomeId:
          type:
          - string
          - 'null'
        ExternalExpenseId:
          type:
          - string
          - 'null'
      additionalProperties: false
    QbAccountCodeImportDto:
      type: object
      properties:
        Id:
          type:
          - string
          - 'null'
        Name:
          type:
          - string
          - 'null'
        Code:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        AccountTypeName:
          type:
          - string
          - 'null'
        ParentAccountCode:
          $ref: '#/components/schemas/QbAccountCodeImportDto'
        ExternalTenantId:
          type:
          - string
          - 'null'
      additionalProperties: false
    StringResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - string
          - 'null'
      additionalProperties: false
    QbServiceExportDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QbServiceExportDto'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
