openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Service Level Agreement Results Child API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: ServiceLevelAgreementResultsChild
paths:
  /V1.0/ServiceLevelAgreements/{parentId}/Results:
    get:
      tags:
      - ServiceLevelAgreementResultsChild
      operationId: ServiceLevelAgreementResultsChild_Query
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ServiceLevelAgreementResultsModel_ServiceLevelAgreementResults'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_ServiceLevelAgreementResultsModel_ServiceLevelAgreementResults'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ServiceLevelAgreements/{parentId}/Results/{id}:
    get:
      tags:
      - ServiceLevelAgreementResultsChild
      operationId: ServiceLevelAgreementResultsChild_QueryItem
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ServiceLevelAgreementResultsModel_ServiceLevelAgreementResults'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_ServiceLevelAgreementResultsModel_ServiceLevelAgreementResults'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ServiceLevelAgreements/{parentId}/Results/entityInformation:
    get:
      tags:
      - ServiceLevelAgreementResultsChild
      operationId: ServiceLevelAgreementResultsChild_QueryEntityInformation
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ServiceLevelAgreements/{parentId}/Results/entityInformation/fields:
    get:
      tags:
      - ServiceLevelAgreementResultsChild
      operationId: ServiceLevelAgreementResultsChild_QueryFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ServiceLevelAgreements/{parentId}/Results/entityInformation/userDefinedFields:
    get:
      tags:
      - ServiceLevelAgreementResultsChild
      operationId: ServiceLevelAgreementResultsChild_QueryUserDefinedFieldDefinitions
      parameters:
      - name: parentId
        in: path
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    QueryActionResult_ServiceLevelAgreementResultsModel_ServiceLevelAgreementResults:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ServiceLevelAgreementResultsModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    ServiceLevelAgreementResultsModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        firstResponseElapsedHours:
          format: double
          type: number
        firstResponseInitiatingResourceID:
          format: int32
          type: integer
        firstResponseResourceID:
          format: int32
          type: integer
        isFirstResponseMet:
          type: boolean
        isResolutionMet:
          type: boolean
        isResolutionPlanMet:
          type: boolean
        resolutionElapsedHours:
          format: double
          type: number
        resolutionPlanElapsedHours:
          format: double
          type: number
        resolutionPlanResourceID:
          format: int32
          type: integer
        resolutionResourceID:
          format: int32
          type: integer
        serviceLevelAgreementName:
          type: string
        ticketID:
          format: int32
          type: integer
        soapParentPropertyId:
          format: int64
          type: integer
          readOnly: true
    Object:
      type: object
      properties: {}
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    ItemQueryResultModel_ServiceLevelAgreementResultsModel_ServiceLevelAgreementResults:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/ServiceLevelAgreementResultsModel'
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
