openapi: 3.2.0
info:
  title: BMS API 2.0 Qbd Bills API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: QbdBills
paths:
  /v2/integration/qbd/bills:
    get:
      tags:
      - QbdBills
      operationId: GetBills
      parameters:
      - name: Filter.VendorName
        in: query
        schema:
          type: string
      - name: Filter.StartDate
        in: query
        schema:
          type: string
          format: date-time
      - name: Filter.EndDate
        in: query
        schema:
          type: string
          format: date-time
      - name: ExternalTenantId
        in: query
        required: true
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QbBillExportDtoListPagedResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QbBillExportDtoListPagedResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QbBillExportDtoListPagedResponse'
    put:
      tags:
      - QbdBills
      operationId: UpdateBillQbReference
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbBillReferenceInputDto'
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbBillReferenceInputDto'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbBillReferenceInputDto'
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/QbBillReferenceInputDto'
      responses:
        '200':
          description: OK
  /v2/integration/qbd/bills/detail:
    get:
      tags:
      - QbdBills
      operationId: GetBillDetails
      parameters:
      - name: ExternalTenantId
        in: query
        required: true
        schema:
          type: string
      - name: BillIds
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QbBillDetailExportDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QbBillDetailExportDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QbBillDetailExportDtoListResponse'
components:
  schemas:
    QbBillExportDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        VendorId:
          type:
          - string
          - 'null'
        VendorName:
          type:
          - string
          - 'null'
        ReferenceNumber:
          type:
          - string
          - 'null'
        Amount:
          type: number
          format: double
        DueDate:
          type: string
          format: date-time
        BillDate:
          type: string
          format: date-time
        Memo:
          type:
          - string
          - 'null'
        SalesTaxItemId:
          type:
          - integer
          - 'null'
          format: int32
        ExternalVendorId:
          type:
          - string
          - 'null'
        ExternalTaxId:
          type:
          - string
          - 'null'
        ShipAddress:
          $ref: '#/components/schemas/QbAddressDto'
        BillAddress:
          $ref: '#/components/schemas/QbAddressDto'
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    QbBillDetailExportDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        BillId:
          type: integer
          format: int32
        ItemId:
          type: integer
          format: int32
        ItemName:
          type:
          - string
          - 'null'
        Notes:
          type:
          - string
          - 'null'
        ItemQty:
          type:
          - number
          - 'null'
          format: double
        Amount:
          type: number
          format: double
        Discount:
          type:
          - number
          - 'null'
          format: double
        IsTaxable:
          type: boolean
        RecordSourceId:
          type:
          - string
          - 'null'
        VendorBilledAmount:
          type:
          - number
          - 'null'
          format: double
        VendorBillDue:
          type:
          - number
          - 'null'
          format: double
        StatusId:
          type:
          - integer
          - 'null'
          format: int32
        ExternalItemId:
          type:
          - string
          - 'null'
      additionalProperties: false
    QbBillExportDtoListPagedResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QbBillExportDto'
        TotalRecords:
          type: integer
          format: int32
      additionalProperties: false
    QbAddressDto:
      type: object
      properties:
        Address1:
          type:
          - string
          - 'null'
        Address2:
          type:
          - string
          - 'null'
        State:
          type:
          - string
          - 'null'
        City:
          type:
          - string
          - 'null'
        ZipCode:
          type:
          - string
          - 'null'
        EmailAddress:
          type:
          - string
          - 'null'
        PhoneNumber:
          type:
          - string
          - 'null'
        MobileNumber:
          type:
          - string
          - 'null'
        FaxNumber:
          type:
          - string
          - 'null'
        Country:
          type:
          - string
          - 'null'
        ContactName:
          type:
          - string
          - 'null'
      additionalProperties: false
    QbBillDetailExportDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QbBillDetailExportDto'
      additionalProperties: false
    QbBillReferenceInputDto:
      type: object
      properties:
        BillId:
          type: integer
          format: int32
        QbBillId:
          type:
          - string
          - 'null'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
