openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Expense Report Attachments API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: ExpenseReportAttachments
paths:
  /V1.0/ExpenseReportAttachments/entityInformation:
    get:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_QueryEntityInformation
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ExpenseReportAttachments/entityInformation/fields:
    get:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_QueryFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ExpenseReportAttachments/query:
    get:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_UrlParameterQuery
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseReportAttachmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseReportAttachmentModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_Query
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseReportAttachmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseReportAttachmentModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
  /V1.0/ExpenseReportAttachments/{id}:
    get:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_QueryItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseReportAttachmentModel'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseReportAttachmentModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/ExpenseReportAttachments/query/count:
    get:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_UrlParameterQueryCount
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - ExpenseReportAttachments
      operationId: ExpenseReportAttachments_QueryCount
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
components:
  schemas:
    ParameterExpression:
      type: object
      properties:
        type:
          type: string
          readOnly: true
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        isByRef:
          type: boolean
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    ExpenseReportAttachmentModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        attachDate:
          format: date-time
          type: string
        attachedByContactID:
          format: int64
          type: integer
        attachedByResourceID:
          format: int64
          type: integer
        attachmentType:
          type: string
        contentType:
          type: string
        creatorType:
          format: int32
          type: integer
        expenseItemID:
          format: int32
          type: integer
        expenseReportID:
          format: int32
          type: integer
        fileSize:
          format: double
          type: number
        fullPath:
          type: string
        impersonatorCreatorResourceID:
          format: int32
          type: integer
        opportunityID:
          format: int64
          type: integer
        parentID:
          format: int64
          type: integer
        publish:
          format: int32
          type: integer
        title:
          type: string
        data:
          format: byte
          type: string
        parentType:
          format: int32
          type: integer
          readOnly: true
        soapParentPropertyId:
          $ref: '#/components/schemas/Expression_Func_AttachmentInfo_Int64'
          readOnly: true
        isTaskAttachment:
          type: boolean
          readOnly: true
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    Expression:
      type: object
      properties:
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        type:
          type: string
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    QueryModel:
      type: object
      properties:
        maxRecords:
          format: int32
          type: integer
        includeFields:
          type: array
          items:
            type: string
        filter:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
      example:
        MaxRecords: 10
        IncludeFields: []
        Filter:
        - op: gt
          field: id
          value: 0
          udf: false
          items: []
    Object:
      type: object
      properties: {}
    Expression_Func_AttachmentInfo_Int64:
      type: object
      properties:
        type:
          type: string
          readOnly: true
        nodeType:
          enum:
          - Add
          - AddChecked
          - And
          - AndAlso
          - ArrayLength
          - ArrayIndex
          - Call
          - Coalesce
          - Conditional
          - Constant
          - Convert
          - ConvertChecked
          - Divide
          - Equal
          - ExclusiveOr
          - GreaterThan
          - GreaterThanOrEqual
          - Invoke
          - Lambda
          - LeftShift
          - LessThan
          - LessThanOrEqual
          - ListInit
          - MemberAccess
          - MemberInit
          - Modulo
          - Multiply
          - MultiplyChecked
          - Negate
          - UnaryPlus
          - NegateChecked
          - New
          - NewArrayInit
          - NewArrayBounds
          - Not
          - NotEqual
          - Or
          - OrElse
          - Parameter
          - Power
          - Quote
          - RightShift
          - Subtract
          - SubtractChecked
          - TypeAs
          - TypeIs
          - Assign
          - Block
          - DebugInfo
          - Decrement
          - Dynamic
          - Default
          - Extension
          - Goto
          - Increment
          - Index
          - Label
          - RuntimeVariables
          - Loop
          - Switch
          - Throw
          - Try
          - Unbox
          - AddAssign
          - AndAssign
          - DivideAssign
          - ExclusiveOrAssign
          - LeftShiftAssign
          - ModuloAssign
          - MultiplyAssign
          - OrAssign
          - PowerAssign
          - RightShiftAssign
          - SubtractAssign
          - AddAssignChecked
          - MultiplyAssignChecked
          - SubtractAssignChecked
          - PreIncrementAssign
          - PreDecrementAssign
          - PostIncrementAssign
          - PostDecrementAssign
          - TypeEqual
          - OnesComplement
          - IsTrue
          - IsFalse
          type: string
          readOnly: true
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ParameterExpression'
          readOnly: true
        name:
          type: string
          readOnly: true
        body:
          $ref: '#/components/schemas/Expression'
          readOnly: true
        returnType:
          type: string
          readOnly: true
        tailCall:
          type: boolean
          readOnly: true
        canReduce:
          type: boolean
          readOnly: true
    RestUserAccessLevel:
      type: object
      properties: {}
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    Filter:
      type: object
      properties:
        op:
          type: string
        field:
          type: string
        udf:
          type: boolean
        value:
          description: 'Can be either an Integer, String, Boolean, an Array of Integers, or an Array of Strings. '
          type: object
          properties: {}
        items:
          description: An Array of Filter objects
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    QueryCountResultModel:
      type: object
      properties:
        queryCount:
          format: int32
          type: integer
