openapi: 3.2.0
info:
  title: BMS API 2.0 VSA Asset API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: VSAAsset
paths:
  /v2/servicedesk/vsaasset/{agentId}/tickets:
    get:
      tags:
      - VSAAsset
      operationId: GetVsaHardwareAssetTickets
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/TicketListDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/TicketListDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/TicketListDtoListResponse'
components:
  schemas:
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    TicketListDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        CreatedBy:
          type:
          - integer
          - 'null'
          format: int32
        CreatedOn:
          type:
          - string
          - 'null'
          format: date-time
        ModifiedBy:
          type:
          - integer
          - 'null'
          format: int32
        ModifiedOn:
          type:
          - string
          - 'null'
          format: date-time
        TenantName:
          type:
          - string
          - 'null'
        TicketNumber:
          type:
          - string
          - 'null'
        Title:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        AccountId:
          type:
          - integer
          - 'null'
          format: int32
        LocationId:
          type:
          - integer
          - 'null'
          format: int32
        AccountCode:
          type:
          - string
          - 'null'
        AccountName:
          type:
          - string
          - 'null'
        LocationName:
          type:
          - string
          - 'null'
        ContactId:
          type:
          - integer
          - 'null'
          format: int32
        ContactName:
          type:
          - string
          - 'null'
        QueueId:
          type:
          - integer
          - 'null'
          format: int32
        QueueName:
          type:
          - string
          - 'null'
        StatusId:
          type: integer
          format: int32
        StatusName:
          type:
          - string
          - 'null'
        StatusColor:
          type:
          - string
          - 'null'
        StatusForeColor:
          type:
          - string
          - 'null'
        StatusOrder:
          type: integer
          format: int32
        PriorityId:
          type: integer
          format: int32
        PriorityName:
          type:
          - string
          - 'null'
        PriorityColor:
          type:
          - string
          - 'null'
        TypeId:
          type:
          - integer
          - 'null'
          format: int32
        TypeName:
          type:
          - string
          - 'null'
        IssueTypeId:
          type:
          - integer
          - 'null'
          format: int32
        IssueTypeName:
          type:
          - string
          - 'null'
        SubIssueTypeId:
          type:
          - integer
          - 'null'
          format: int32
        SubIssueTypeName:
          type:
          - string
          - 'null'
        ContractId:
          type:
          - integer
          - 'null'
          format: int32
        ContractNumber:
          type:
          - string
          - 'null'
        ContractName:
          type:
          - string
          - 'null'
        AssigneeId:
          type:
          - integer
          - 'null'
          format: int32
        AssigneeName:
          type:
          - string
          - 'null'
        WorkTypeId:
          type:
          - integer
          - 'null'
          format: int32
        WorkTypeName:
          type:
          - string
          - 'null'
        TicketRecurringMasterId:
          type:
          - integer
          - 'null'
          format: int32
        Recurring:
          type:
          - integer
          - 'null'
          format: int32
        SLAStatusEventId:
          type:
          - integer
          - 'null'
          format: int32
        SourceId:
          type:
          - integer
          - 'null'
          format: int32
        SLAId:
          type:
          - integer
          - 'null'
          format: int32
        SLAObjectiveId:
          type:
          - integer
          - 'null'
          format: int32
        SLAName:
          type:
          - string
          - 'null'
        IsScheduled:
          type: integer
          format: int32
        HardwareAssetId:
          type: integer
          format: int32
        HasMetSLA:
          type:
          - integer
          - 'null'
          format: int32
        ActualPauseMinutes:
          type:
          - integer
          - 'null'
          format: int32
        ActualFirstResponseMinutes:
          type:
          - integer
          - 'null'
          format: int32
        ActualResolutionMinutes:
          type:
          - integer
          - 'null'
          format: int32
        IsSLAPaused:
          type:
          - integer
          - 'null'
          format: int32
        SLAStatusEnum:
          type:
          - integer
          - 'null'
          format: int32
        OpenDate:
          type:
          - string
          - 'null'
          format: date-time
        DueDate:
          type:
          - string
          - 'null'
          format: date-time
        CompletedDate:
          type:
          - string
          - 'null'
          format: date-time
        ReOpenedDate:
          type:
          - string
          - 'null'
          format: date-time
        LastActivityUpdate:
          type:
          - string
          - 'null'
          format: date-time
        ResolutionTargetTime:
          type:
          - string
          - 'null'
          format: date-time
        ResolutionActualTime:
          type:
          - string
          - 'null'
          format: date-time
        FirstResponseTargetTime:
          type:
          - string
          - 'null'
          format: date-time
        FirstResponseActualTime:
          type:
          - string
          - 'null'
          format: date-time
        SLALastPausedTime:
          type:
          - string
          - 'null'
          format: date-time
        SLALastResumedTime:
          type:
          - string
          - 'null'
          format: date-time
        LastStatusUpdate:
          type:
          - string
          - 'null'
          format: date-time
        LastPriorityUpdate:
          type:
          - string
          - 'null'
          format: date-time
        LastQueueUpdate:
          type:
          - string
          - 'null'
          format: date-time
        CreatedByName:
          type:
          - string
          - 'null'
        CustomFields:
          type:
          - string
          - 'null'
        HardwareAssetName:
          type:
          - string
          - 'null'
      additionalProperties: false
    TicketListDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/TicketListDto'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
