{
  "openapi": "3.0.1",
  "info": {
    "title": "BMS API 2.0",
    "description": "Documentation of APIs Version 2.0",
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.bms.kaseya.com"
    }
  ],
  "paths": {
    "/v2/admin/finance/accountcodes/lookup": {
      "get": {
        "tags": [
          "AccountCodes"
        ],
        "operationId": "GetAccountCodesLookup",
        "parameters": [
          {
            "name": "Filter.Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCodeLookupOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCodeLookupOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCodeLookupOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/lookup": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccounts",
        "parameters": [
          {
            "name": "Filter.Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Filter.Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.WithSecurityScope",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Filter.WithInactiveAccounts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/summary": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountsListSummary",
        "parameters": [
          {
            "name": "Filter.AccountName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.AccountCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.AccountTypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.AccountTypeName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.CreatedOnFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.CreatedOnTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.ModifiedOnFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.ModifiedOnTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/summary/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDto"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/{accountId}/locations/lookup": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountLocations",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLocationLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLocationLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLocationLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/{accountId}/locations/{locationId}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountLocation",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLocationOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLocationOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountLocationOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/{accountId}/contacts/lookup": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountContacts",
        "parameters": [
          {
            "name": "Filter.Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.LocationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/{accountId}/contacts/{contactId}/summaryinfo": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountContactSummaryInfo",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryInfoOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryInfoOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryInfoOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/{accountId}/alerts/{accountAlertType}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "operationId": "GetAccountAlert",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "accountAlertType",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/AccountAlertType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAlertOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAlertOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountAlertOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts": {
      "post": {
        "tags": [
          "Accounts"
        ],
        "operationId": "PostAccount",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPostInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPostInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPostInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPostInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/accounts/{id}": {
      "put": {
        "tags": [
          "Accounts"
        ],
        "operationId": "PutAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPutInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPutInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPutInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccountPutInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Accounts"
        ],
        "operationId": "PatchAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSummaryOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/accounttypes/lookup": {
      "get": {
        "tags": [
          "AccountTypes"
        ],
        "operationId": "GetAccountTypesLookup",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountTypeLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/{integrationTypeId}/agentprocedures": {
      "get": {
        "tags": [
          "AgentProcedure"
        ],
        "operationId": "GetAgentProcedures",
        "parameters": [
          {
            "name": "integrationTypeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProcedureOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProcedureOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentProcedureOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/approvalroutes/lookup": {
      "get": {
        "tags": [
          "ApprovalRoutes"
        ],
        "operationId": "GetApprovalRoutesLookup",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRouteLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRouteLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRouteLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/hr/assignees": {
      "get": {
        "tags": [
          "Assignees"
        ],
        "operationId": "GetAssignees",
        "parameters": [
          {
            "name": "Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "EmployeesOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/hr/assignees/lookup": {
      "get": {
        "tags": [
          "Assignees"
        ],
        "operationId": "GetAssigneeLookups",
        "parameters": [
          {
            "name": "Filter.Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Filter.Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.ExcludedIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.AccountId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeLookupOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeLookupOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssigneeLookupOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/hr/assignees/count": {
      "get": {
        "tags": [
          "Assignees"
        ],
        "operationId": "GetAssigneesCount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/Int32Response"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Int32Response"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Int32Response"
                }
              }
            }
          }
        }
      }
    },
    "/v2/hr/assignees/{assigneeId}/roles": {
      "get": {
        "tags": [
          "Assignees"
        ],
        "operationId": "GetEmployeeRoleLookups",
        "parameters": [
          {
            "name": "assigneeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/attachments/{moduleId}/{objectId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "operationId": "GetAttachments",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Attachments"
        ],
        "operationId": "Post",
        "parameters": [
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "formFile": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "formFile": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/attachments/{moduleId}/{objectId}/{attachmentId}": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "operationId": "GetAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AttachmentOutputDtoResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Attachments"
        ],
        "operationId": "DeleteAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": [
          "Attachments"
        ],
        "operationId": "PutAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentPutInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentPutInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentPutInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AttachmentPutInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/system/attachments/{moduleId}/{objectId}/{attachmentId}/download": {
      "get": {
        "tags": [
          "Attachments"
        ],
        "operationId": "DownloadAttachment",
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/attachments/{moduleId}": {
      "post": {
        "tags": [
          "Attachments"
        ],
        "operationId": "PostTempAttachment",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "File": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TempAttachmentOuputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempAttachmentOuputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TempAttachmentOuputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/attachments": {
      "delete": {
        "tags": [
          "Attachments"
        ],
        "operationId": "DeleteAttachments",
        "parameters": [
          {
            "name": "attachmentIds",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/system/attachments/temp": {
      "delete": {
        "tags": [
          "Attachments"
        ],
        "operationId": "DeleteTempAttachments",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/system/batchAction/logs/{jobId}": {
      "get": {
        "tags": [
          "BatchActionLog"
        ],
        "operationId": "GetAllBatchActionLogs",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobLogsDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLogsDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLogsDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/finance/chartofaccounts": {
      "get": {
        "tags": [
          "ChartOfAccount"
        ],
        "operationId": "GetChartOfAccounts",
        "parameters": [
          {
            "name": "Filter.Id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.Code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.TypeId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.ParentId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/admin/finance/chartofaccounts/lookup/{parentAccountCodeId}": {
      "get": {
        "tags": [
          "ChartOfAccount"
        ],
        "operationId": "GetChartOfAccountsLookup",
        "parameters": [
          {
            "name": "parentAccountCodeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountLookupOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountLookupOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountLookupOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/admin/finance/chartofaccounts/types": {
      "get": {
        "tags": [
          "ChartOfAccount"
        ],
        "operationId": "GetChartOfAccountTypes",
        "parameters": [
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountTypeOutputDtoListPagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountTypeOutputDtoListPagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountTypeOutputDtoListPagedResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/admin/finance/chartofaccounts/types/lookup": {
      "get": {
        "tags": [
          "ChartOfAccount"
        ],
        "operationId": "GetChartOfAccountTypesLookUp",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountTypeLookupOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountTypeLookupOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChartOfAccountTypeLookupOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/system/colors/lookup": {
      "get": {
        "tags": [
          "ColorsLookup"
        ],
        "operationId": "GetColorsLookup",
        "parameters": [
          {
            "name": "moduleId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ColorsLookupOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColorsLookupOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ColorsLookupOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/companysettings": {
      "get": {
        "tags": [
          "CompanySettings"
        ],
        "operationId": "GetCompanySettings",
        "parameters": [
          {
            "name": "SettingKey",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectIDictionaryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectIDictionaryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StringObjectIDictionaryResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsPutInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsPutInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsPutInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanySettingsPutInputDto"
              }
            }
          }
        },
        "responses": {},
        "deprecated": true
      }
    },
    "/v2/crm/contacts/summary": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "PostContactSummaryInfo",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactSummaryOutputDtoResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "GetContactsListSummary",
        "parameters": [
          {
            "name": "Filter.AccountId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.AccountName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.FirstName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.LastName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.Phone",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.Email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.CreatedOnFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.CreatedOnTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.ModifiedOnFrom",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.ModifiedOnTo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "Filter.IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSummaryOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSummaryOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSummaryOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/contacts/summary/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "GetContactSummary",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSummaryOutputDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSummaryOutputDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSummaryOutputDto"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/contacts/{id}": {
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "PutContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPutInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPutInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPutInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ContactPutInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOutputDtoResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "operationId": "PatchContact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Operation"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/contacts/search": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "GetContactsSearch",
        "parameters": [
          {
            "name": "Filter.Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Filter.AccountIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "Filter.AccountName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.LocationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Filter.LocationName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.FirstName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.LastName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.EmailAddress",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.JobTitle",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.IsPoc",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Filter.HasClientPortalAccess",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Filter.IsActive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSearchSelectOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSearchSelectOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsSearchSelectOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/contacts/{Id}": {
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "DeleteContact",
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/crm/contacts/{contactId}/emails": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "operationId": "PatchContactEmails",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactEmailPatchOperationDto"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactEmailPatchOperationDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactEmailPatchOperationDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactEmailPatchOperationDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEmailPatchResultDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEmailPatchResultDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactEmailPatchResultDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/crm/contacts/{contactId}/phones": {
      "patch": {
        "tags": [
          "Contacts"
        ],
        "operationId": "PatchContactPhones",
        "parameters": [
          {
            "name": "contactId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactPhonePatchOperationDto"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactPhonePatchOperationDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactPhonePatchOperationDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ContactPhonePatchOperationDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPhonePatchResultDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPhonePatchResultDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPhonePatchResultDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/lookup": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "GetContractLookups",
        "parameters": [
          {
            "name": "Ids",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "AccountId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ExcludeExpiredContracts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ContractLookupOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractLookupOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractLookupOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/recurringservices": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "PostRecurringServiceContract",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPostInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPostInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPostInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPostInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicesContractPostOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicesContractPostOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicesContractPostOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/recurringservices/{contractId}": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "operationId": "PutRecurringServiceContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPutInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPutInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPutInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RecurringServicesContractPutInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicesContractPutOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicesContractPutOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicesContractPutOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/summary": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "operationId": "GetContractsSummary",
        "parameters": [
          {
            "name": "Filter.ContractType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.ContractName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.BillingCycle",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.AccountName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Filter.Status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Exclude",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContractSummaryOutputDtoIEnumerablePagedResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContractSummaryOutputDtoIEnumerablePagedResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClientContractSummaryOutputDtoIEnumerablePagedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/recurringservices/{contractId}/services": {
      "post": {
        "tags": [
          "Contracts"
        ],
        "operationId": "PostRecurringServices",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecurringServicePostInputDto"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecurringServicePostInputDto"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecurringServicePostInputDto"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/RecurringServicePostInputDto"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicePostOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicePostOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringServicePostOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/{contractId}/activate": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "operationId": "ActivateContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ActivatedContractOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivatedContractOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivatedContractOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/finance/contracts/{contractId}/deactivate": {
      "put": {
        "tags": [
          "Contracts"
        ],
        "operationId": "DeactivateContract",
        "parameters": [
          {
            "name": "contractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeactivatedContractOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeactivatedContractOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeactivatedContractOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/copilot/configuration": {
      "get": {
        "tags": [
          "CopilotConfiguration"
        ],
        "operationId": "GetCopilotConfigurations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CopilotConfiguration"
        ],
        "operationId": "PostCopilotConfiguration",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/admin/copilot/configuration/{id}": {
      "put": {
        "tags": [
          "CopilotConfiguration"
        ],
        "operationId": "PutCopilotConfiguration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CopilotConfigurationInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopilotConfigurationOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/customFields/{moduleId}": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "GetCustomFieldsMetaData",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "withInactive",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/customFields/{moduleId}/{objectId}": {
      "get": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "GetCustomFieldsData",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataOutputDtoIEnumerableResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataOutputDtoIEnumerableResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataOutputDtoIEnumerableResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/system/customFields/data/{moduleId}/{entityId}/{customFieldId}": {
      "put": {
        "tags": [
          "CustomFields"
        ],
        "operationId": "PutCustomFieldData",
        "parameters": [
          {
            "name": "moduleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "entityId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customFieldId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDataPutInputDto"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDataPutInputDto"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDataPutInputDto"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CustomFieldDataPutInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataPutOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataPutOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldDataPutOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/servicedesk/dashboard/ticketscount/bybasicstatus": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "GetTicketsCountByBasicStatus",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByBasicStatusOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByBasicStatusOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByBasicStatusOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/servicedesk/dashboard/ticketscount/bypriority": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "GetTicketsCountByPriority",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "IncludeCompleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByPriorityOutputDtoListResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByPriorityOutputDtoListResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByPriorityOutputDtoListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/servicedesk/dashboard/ticketscount/byassigneepriority": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "GetTicketsCountByAssigneePriority",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "SelectedUsersIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "TopPerformersCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IncludeCompleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByAssigneePriorityDataOutputDtoResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByAssigneePriorityDataOutputDtoResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketsCountByAssigneePriorityDataOutputDtoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/servicedesk/dashboard/timebytechnician": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "GetTimeLoggedByTechnician",
        "parameters": [
          {
            "name": "StartDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "SelectedUsersIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "TopPerformersCount",
            "in": "query",
            "schema": {
[...]
