openapi: 3.2.0
info:
  title: BMS API 2.0 Settings API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: Settings
paths:
  /v2/system/settings:
    get:
      tags:
      - Settings
      operationId: GetSystemSettings
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SettingsOutputDtoResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SettingsOutputDtoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SettingsOutputDtoResponse'
components:
  schemas:
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    SettingsOutputDto:
      type: object
      properties:
        DefaultPageSize:
          type: integer
          format: int32
        WorkforcePlannerDefaultPageSize:
          type: integer
          format: int32
        DefaultSideBarPageSize:
          type: integer
          format: int32
        CustomFieldsMaxShownItems:
          type: integer
          format: int32
        DefaultAttachmentTicketsPageSize:
          type: integer
          format: int32
        MaximumAttachmentFileSizeinMb:
          type: integer
          format: int32
        DashboardWidgetTimeout:
          type: integer
          format: int32
        DashboardWidgetMaxColumns:
          type: integer
          format: int32
        DashboardWidgetMinColumns:
          type: integer
          format: int32
        DashboardTicketByIssueTypeWidgetMaxColumns:
          type: integer
          format: int32
        DashboardWidgetPageSize:
          type: integer
          format: int32
        BrandName:
          type:
          - string
          - 'null'
        ProductName:
          type:
          - string
          - 'null'
        FullCalendarLicenseKey:
          type:
          - string
          - 'null'
        AddOpportunityUrl:
          type:
          - string
          - 'null'
        AddActivityUrl:
          type:
          - string
          - 'null'
        PendingQuotationsUrl:
          type:
          - string
          - 'null'
        AmountDueUrl:
          type:
          - string
          - 'null'
        AmountSentUrl:
          type:
          - string
          - 'null'
        ExternalLinks:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        FeatureFlags:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - boolean
            - 'null'
      additionalProperties: false
    SettingsOutputDtoResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          $ref: '#/components/schemas/SettingsOutputDto'
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
