openapi: 3.2.0
info:
  version: v1
  title: Datto|Autotask PSA Rest Ticket Category Field Defaults API
servers:
- url: https://webservices2.autotask.net/ATServicesRest
tags:
- name: TicketCategoryFieldDefaults
paths:
  /V1.0/TicketCategoryFieldDefaults/query:
    get:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_UrlParameterQuery
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_Query
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryActionResult_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
  /V1.0/TicketCategoryFieldDefaults/{id}:
    get:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_QueryItem
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults'
            text/json:
              schema:
                $ref: '#/components/schemas/ItemQueryResultModel_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/TicketCategoryFieldDefaults/query/count:
    get:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_UrlParameterQueryCount
      parameters:
      - name: search
        in: query
        required: true
        schema:
          type: string
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
    post:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_QueryCount
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/QueryCountResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryModel'
        required: true
  /V1.0/TicketCategoryFieldDefaults/entityInformation:
    get:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_QueryEntityInformation
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/EntityInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/TicketCategoryFieldDefaults/entityInformation/fields:
    get:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_QueryFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/FieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
  /V1.0/TicketCategoryFieldDefaults/entityInformation/userDefinedFields:
    get:
      tags:
      - TicketCategoryFieldDefaults
      operationId: TicketCategoryFieldDefaults_QueryUserDefinedFieldDefinitions
      parameters:
      - name: ApiIntegrationCode
        in: header
        description: API Integration Code
        required: true
        schema:
          type: string
      - name: UserName
        in: header
        description: User Name
        required: true
        schema:
          type: string
      - name: Secret
        in: header
        description: Secret
        required: true
        schema:
          type: string
      - name: ImpersonationResourceId
        in: header
        description: Impersonation Resource Key
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
            text/json:
              schema:
                $ref: '#/components/schemas/UserDefinedFieldInformationResultModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
components:
  schemas:
    Filter:
      type: object
      properties:
        op:
          type: string
        field:
          type: string
        udf:
          type: boolean
        value:
          description: 'Can be either an Integer, String, Boolean, an Array of Integers, or an Array of Strings. '
          type: object
          properties: {}
        items:
          description: An Array of Filter objects
          type: array
          items:
            $ref: '#/components/schemas/Filter'
    UserDefinedFieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
            readOnly: true
    ItemQueryResultModel_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults:
      type: object
      properties:
        item:
          $ref: '#/components/schemas/TicketCategoryFieldDefaultsModel'
    FieldInformationModel:
      type: object
      properties:
        name:
          type: string
        dataType:
          type: string
        length:
          format: int32
          type: integer
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    FieldInformationResultModel:
      type: object
      properties:
        fields:
          type: array
          items:
            $ref: '#/components/schemas/FieldInformationModel'
            readOnly: true
    EntityInformationResultModel:
      type: object
      properties:
        info:
          $ref: '#/components/schemas/EntityInformationModel'
          readOnly: true
    PickListValue:
      type: object
      properties:
        value:
          type: string
        label:
          type: string
        isDefaultValue:
          type: boolean
        sortOrder:
          format: int32
          type: integer
        parentValue:
          type: string
        isActive:
          type: boolean
        isSystem:
          type: boolean
    QueryModel:
      type: object
      properties:
        maxRecords:
          format: int32
          type: integer
        includeFields:
          type: array
          items:
            type: string
        filter:
          type: array
          items:
            $ref: '#/components/schemas/Filter'
      example:
        MaxRecords: 10
        IncludeFields: []
        Filter:
        - op: gt
          field: id
          value: 0
          udf: false
          items: []
    TicketCategoryFieldDefaultsModel:
      type: object
      properties:
        id:
          format: int64
          type: integer
        description:
          type: string
        estimatedHours:
          format: double
          type: number
        issueTypeID:
          format: int32
          type: integer
        organizationalLevelAssociationID:
          format: int32
          type: integer
        priority:
          format: int32
          type: integer
        purchaseOrderNumber:
          type: string
        queueID:
          format: int32
          type: integer
        resolution:
          type: string
        serviceLevelAgreementID:
          format: int32
          type: integer
        sourceID:
          format: int32
          type: integer
        status:
          format: int32
          type: integer
        subIssueTypeID:
          format: int32
          type: integer
        ticketCategoryID:
          format: int32
          type: integer
        ticketTypeID:
          format: int32
          type: integer
        title:
          type: string
        workTypeID:
          format: int32
          type: integer
        soapParentPropertyId:
          format: int64
          type: integer
          readOnly: true
    Object:
      type: object
      properties: {}
    Field:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        type:
          type: string
        length:
          format: int32
          type: integer
        description:
          type: string
        isRequired:
          type: boolean
        isReadOnly:
          type: boolean
        isQueryable:
          type: boolean
        isReference:
          type: boolean
        referenceEntityType:
          type: string
        isPickList:
          type: boolean
        picklistValues:
          type: array
          items:
            $ref: '#/components/schemas/PickListValue'
        picklistParentValueField:
          type: string
        defaultValue:
          type: string
        isSupportedWebhookField:
          $ref: '#/components/schemas/Object'
    RestUserAccessLevel:
      type: object
      properties: {}
    EntityInformationModel:
      type: object
      properties:
        name:
          type: string
          readOnly: true
        canCreate:
          type: boolean
          readOnly: true
        canDelete:
          type: boolean
          readOnly: true
        canQuery:
          type: boolean
          readOnly: true
        canUpdate:
          type: boolean
          readOnly: true
        userAccessForCreate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForDelete:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForQuery:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        userAccessForUpdate:
          $ref: '#/components/schemas/RestUserAccessLevel'
          readOnly: true
        hasUserDefinedFields:
          type: boolean
          readOnly: true
        supportsWebhookCallouts:
          type: boolean
          readOnly: true
    QueryActionResult_TicketCategoryFieldDefaultsModel_TicketCategoryFieldDefaults:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TicketCategoryFieldDefaultsModel'
        pageDetails:
          $ref: '#/components/schemas/PagingModel'
    QueryCountResultModel:
      type: object
      properties:
        queryCount:
          format: int32
          type: integer
    PagingModel:
      type: object
      properties:
        count:
          format: int32
          type: integer
        requestCount:
          format: int32
          type: integer
          readOnly: true
        prevPageUrl:
          type: string
        nextPageUrl:
          type: string
