openapi: 3.2.0
info:
  title: BMS API 2.0 Security Roles API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: SecurityRoles
paths:
  /v2/admin/security/roles/lookup:
    get:
      tags:
      - SecurityRoles
      operationId: GetSecurityRolesLookup
      parameters:
      - name: Name
        in: query
        schema:
          type: string
      - name: Sort
        in: query
        schema:
          type: string
      - name: Exclude
        in: query
        schema:
          type: string
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/SecurityRoleLookupOutputDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/SecurityRoleLookupOutputDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/SecurityRoleLookupOutputDtoListResponse'
components:
  schemas:
    SecurityRoleLookupOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        isSystem:
          type: boolean
        isExternal:
          type: boolean
      additionalProperties: false
    SecurityRoleLookupOutputDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurityRoleLookupOutputDto'
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
