openapi: 3.2.0
info:
  title: BMS API 2.0 Expense Types API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: ExpenseTypes
paths:
  /v2/system/expensetypes/lookup:
    get:
      tags:
      - ExpenseTypes
      operationId: GetExpenseTypeLookups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ExpenseTypeLookupDtoListResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/ExpenseTypeLookupDtoListResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ExpenseTypeLookupDtoListResponse'
components:
  schemas:
    ExpenseTypeLookupDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        Description:
          type:
          - string
          - 'null'
        Billable:
          type: boolean
        EnableModifyingBillable:
          type: boolean
        ViewExpenseType:
          type: integer
          format: int32
        PerUnit:
          type: boolean
        UnitAmount:
          type: number
          format: double
        IsAttachmentRequired:
          type: boolean
        ExpenseTypeRule:
          $ref: '#/components/schemas/ExpenseTypeRuleDto'
        IsActive:
          type: boolean
      additionalProperties: false
    ExpenseTypeRuleDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        LimitAmount:
          type: number
          format: double
        Overage:
          type: boolean
      additionalProperties: false
    ExpenseTypeLookupDtoListResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ExpenseTypeLookupDto'
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
