openapi: 3.2.0
info:
  title: BMS API 2.0 Queues API
  description: Documentation of APIs Version 2.0
  version: '2.0'
servers:
- url: https://api.bms.kaseya.com
security:
- bearerAuth: []
tags:
- name: Queues
paths:
  /v2/system/queues/lookup:
    get:
      tags:
      - Queues
      operationId: GetQueueLookups
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/QueueLookupOutputDtoIEnumerableResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/QueueLookupOutputDtoIEnumerableResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/QueueLookupOutputDtoIEnumerableResponse'
components:
  schemas:
    QueueLookupOutputDtoIEnumerableResponse:
      type: object
      properties:
        Success:
          type: boolean
          readOnly: true
        Error:
          $ref: '#/components/schemas/ErrorInfo'
        Result:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/QueueLookupOutputDto'
      additionalProperties: false
    ErrorInfo:
      type: object
      properties:
        Code:
          type: integer
          format: int32
        Message:
          type:
          - string
          - 'null'
        Details:
          type:
          - string
          - 'null'
        StackStrace:
          type:
          - string
          - 'null'
        SubErrors:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    QueueLookupOutputDto:
      type: object
      properties:
        Id:
          type: integer
          format: int32
        Name:
          type:
          - string
          - 'null'
        IsActive:
          type: boolean
      additionalProperties: false
  securitySchemes:
    bearerAuth:
      type: http
      description: JWT Authorization header using the Bearer scheme.
      scheme: bearer
      bearerFormat: JWT
